[client]
port                  = 3306
socket                = /tmp/mysql.sock
default-character-set = utf8mb4

[mysqld]
port                 = 3306
socket               = /tmp/mysql.sock
character-set-server = utf8mb4

sql_mode = NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

skip-character-set-client-handshake                                  # 文字コードをサーバーで強制的に決める
skip-name-resolve                                                    # ホスト名の名前解決を行わない
skip-external-locking                                                # システムロックを使用しない
lower_case_table_names = 1                                           # テーブル名やデータベース名をすべてを小文字に丸める
default-storage-engine = InnoDB                                      # デフォルトのストレージエンジンを「InnoDB」にする
#default_password_lifetime = 0                                        # ユーザーのパスワードの有効期限を無期限にする（MySQL5.7以上）

max_connections                 = 32                                 # 同時に接続できるクライアントの最大数
thread_cache_size               = 8                                  # スレッドキャッシュ数（「max_connections」の3分の1にするのが一般的）
table_open_cache                = 64                                 # テーブルキャッシュ数
max_allowed_packet              = 4M                                 # 1パケットの最大サイズ

### Log
#general_log                     = 1
#general_log_file                = general.log

### Slow Query
slow_query_log                  = ON                                 # スロークエリログの出力可否
slow_query_log_file             = slow.log                           # スロークエリログファイル
long_query_time                 = 3                                  # スロークエリと見なす処理時間（単位：秒）

### Query Cache
#query_cache_type                = 1                                  # クエリキャッシュタイプ（0:OFF、1:ON、2:DEMAND）※ioDrive など高速なストレージを使用する際は「0」推奨
#query_cache_size                = 32M                                # クエリキャッシュに使用するメモリサイズ※ioDrive など高速なストレージを使用する際は「0」推奨
query_cache_type                = 0                                  # クエリキャッシュタイプ（0:OFF、1:ON、2:DEMAND）※ioDrive など高速なストレージを使用する際は「0」推奨
query_cache_size                = 0                                  # クエリキャッシュに使用するメモリサイズ※ioDrive など高速なストレージを使用する際は「0」推奨
query_cache_limit               = 2M                                 # キャッシュするクエリ結果のサイズ※ioDrive など高速なストレージを使用する際は「0」推奨

### Binary Log
sync_binlog                     = 0                                  # バイナリログをディスクへ同期するトランザクション数※レプリケーションを利用する際は「1」にする
expire_logs_days                = 60                                 # バイナリログの保持日数
max_binlog_size                 = 1024M                              # バイナリログファイルの最大サイズ
#binlog_do_db                   = sample                             # バイナリログを出力するデータベース
binlog_ignore_db                = mysql information_schema           # バイナリログを出力しないデータベース

### MyISAM
key_buffer_size                 = 32M                                # MyISAM のインデックスを保持するメモリサイズ（全メモリーの30%～40%程度）[グローバル]
myisam_sort_buffer_size         = 128M                               # MyISAM のインデックス再構築時に使用されるメモリサイズ

### Replication
#log-bin=mysql-bin
server-id                       = 1                                  # サーバーID
#replicate-ignore-db             =                                    # レプリケーション対象外とするデータベース名

### InnoDB
back_log = 50

## チューニング項目
sort_buffer_size                = 2M                                 # 「ORDER BY」や「GROUP BY」実行時に使用されるメモリサイズ
read_rnd_buffer_size            = 16M                                # ソート後のレコード読み出しに使用されるメモリサイズ
read_buffer_size                = 2M                                 # インデックスを使わないテーブルスキャン時に使用されるメモリサイズ
join_buffer_size                = 256K                               # インデックスを使わないテーブル結合時に使用されるメモリサイズ

innodb_buffer_pool_size         = 1G                                 # データやインデックスをキャッシュするためのメモリサイズ[グローバル]
innodb_log_buffer_size          = 2M                                 # 更新ログを記録するメモリサイズ[グローバル]
innodb_log_file_size            = 64M                                # 更新ログを記録するファイルサイズ[グローバル]
innodb_log_files_in_group       = 4                                  # 更新ログを記録するファイル数[グローバル]※innodb_log_file_size * innodb_log_files_in_group < innodb_buffer_pool_sizeとなってはいけない
innodb_thread_concurrency       = 16                                 # 同時スレッド数
innodb_data_file_path           = ibdata1:10M:autoextend:max:10G     # テーブルスペース（初期10Mで最大50Gの共有テーブルスぺースのみ使用する）
innodb_lock_wait_timeout        = 120                                # ロック待機の状態になったトランザクションがロールバックされるまでのタイムアウト時間（秒）
innodb_support_xa               = OFF                                # 二相コミットのサポート可否※レプリケーションを利用する際は「ON」にする
skip-innodb-doublewrite                                              # クラッシュ対策としてデータの二重書き込みを無効にする
innodb_file_per_table           = 1                                  # テーブルごとにテーブルスペースを作成する
innodb_file_format              = Barracuda                          # InnoDB ファイルフォーマットを「Antelope」から「Barracuda」にする
innodb_buffer_pool_instances    = 1                                  # バッファプールインスタンスを使用する

## 高速ストレージ使用時のチューニング項目
#innodb_io_capacity              = 50000                              # InnoDB で使用する IOPS 値を設定する（デフォルト:200, RAID:500〜1000, SSD:2000〜5000, ioDrive: 10000〜50000）
#innodb_flush_method             = O_DIRECT                           # OS によるバッファリングを抑制する
#innodb_read_io_threads          = 8                                  # io read の同時スレッド数
#innodb_write_io_threads         = 16                                 # io write の同時スレッド数
#innodb_thread_concurrency       = 0                                  # 同時スレッド数（「0」は上限なし、上限なしにすることで若干パフォーマンスが向上する）
#innodb_adaptive_flushing        = 1                                  # フラッシュ IO の平均化を行う
#innodb_use_native_aio           = 1                                  # OS ネイティブの非同期 I/O を使用する
# 「OS ネイティブの非同期 I/O」はデフォルトで使用することになっているはずだが、
# 実際の値を「echo "SHOW VARIABLES LIKE 'innodb_use_native_aio%'" | mysql -uroot」などで必ず確認する
# 「OS ネイティブの非同期 I/O」を使用する際には MySQL インストール前に libaio をインストールする必要があるので注意する

## 一時テーブル領域
tmp_table_size      = 32M
max_heap_table_size = 32M

## ほぼ固定項目
innodb_flush_log_at_trx_commit  = 1                                  # ログバッファへの書き込みタイミング※変更禁止
innodb_max_dirty_pages_pct      = 90                                 # バッファプール内のダーティページ率(0-100)

# テーブルスペース（データ領域）設定
#1.初期10Mで自動拡張する共有スペース[デフォルト]
#  利点：テーブルスペースが肥大化するまでは、何も考えなくよい
#  欠点：自動拡張によりファイルシステムの空き領域を使い切る可能性がある
#  →サイズを縮小するためには、ダンプした後、ファイルを削除してからリストアする
#innodb_data_file_path           = ibdata1:10M:autoextend
#2.最大サイズ150Gの共有スペース
#  利点：自動拡張によるディスクフルを防ぐことができる
#  欠点：最大サイズまで達した場合はテーブルの更新ができない
#  →最大サイズに達するまでに、新しいテーブルスペースを割り当てる
#3.最大スペース5Gの共有スペースと、自動拡張するテーブルごとのテーブルスペース
#  利点：テーブルごとのテーブルスペース（.ibdファイル）を削除すれば、比較的簡単に容量を調整できる
#  欠点：考え中
#innodb_data_file_path           = ibdata1:5G
#innodb_file_per_table

## InnoDB FTS
#ft_min_word_len = 1                                                  # インデックスされる最小文字数（MySQL5.5以下）
#ft_max_word_len = 16                                                 # インデックスされる最大文字数（MySQL5.5以下）
#innodb_ft_min_token_size = 1                                         # インデックスされる最小文字数（MySQL5.6以上）
#innodb_ft_max_token_size = 16                                        # インデックスされる最大文字数（MySQL5.6以上）

## HandlerSocket
#handlersocket_port    = 9998                                         # handlersocketが接続を受け付けるポート(参照系リクエスト用)
#handlersocket_port_wr = 9999                                         # handlersocketが接続を受け付けるポート(更新系リクエスト用)
#handlersocket_address =                                              # handlersocketがバインドするアドレス(空のままでOK)
#handlersocket_verbose = 0                                            # デバッグ用
#handlersocket_timeout = 300                                          # 通信タイムアウト(秒)
#handlersocket_threads = 16                                           # handlersocketのワーカースレッド数
#thread_concurrency    = 128                                          # handlersocketが幾つかのスレッドを占有するため、大きめの値を指定してください
#open_files_limit      = 65535                                        # ソケットを大量に開けるようにするため、大きめの値を指定してください

## MeCab
loose-mecab-rc-file=/etc/mecabrc
innodb_ft_min_token_size=1

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[isamchk]
key_buffer = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
